{% for item in items %}
    <div class="panel {% if not incomplete %}panel-success{% elseif item.dateDue and today > item.dateDue|date('Y-m-d') %}panel-danger{% else %} panel-info{% endif %}" data-id="{{ item.id }}" data-due="{{ item.dateDue ? item.dateDue|date('Y-m-d') : '' }}">
        <div class="panel-heading">
            {{ item.title }}
        </div>
        <div class="panel-body">
        
        {% if item.dateDue  %}
            <p>Due: {{ item.dateDue|date('d/m/Y') }}</p>
        {% endif %}
            
            <p>Created: {{ item.dateCreated|date('d/m/Y H:i') }}</p>
  
        {% if item.dateCompleted  %}
            <p>Completed: {{ item.dateCompleted|date('d/m/Y H:i') }}</p>
        {% endif %}

        {% if item.description != '' %}
            <p class="js-item-desc">{{ item.description }}</p>
        {% endif %}

        {% if incomplete %}
            <p> 
                <a href="#" class="js-edit-link"><i class="fas fa-edit"></i> Edit</a> | 
                <a href="#" class="js-remove-link"><i class="fas fa-trash-alt"></i> Remove</a>
            </p>

            <button type="button" class="btn btn-default js-complete">Mark Complete</button>
        {% else %}
            <button type="button" class="btn btn-default js-incomplete">Mark Incomplete</button>
        {% endif %}
        </div>
    </div>
{% endfor %}